@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.content-heading-faq{
font-size: 2rem;
font-weight: 600;
font-family: 'Montserrat';
font-style: normal;
}

.content-heading-para{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1rem;
}