@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer-avatar{
    background: linear-gradient(180deg, #CACCFF 0%, #A5A4FF 100%);;
}

.footer-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.footer-card > h3{
    margin-top: 0.3rem !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
}

.footer-card p{
    margin: 0rem 0rem !important;
width: 60% !important;
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 0.9rem;
color: #000000;
}